<div class="row justify-content-between">
  <div class="mb-3 col-12 col-lg-7">
    <div class="row justify-content-between">
      <div class="col-7">
        <p class="paragrafo">Turma: ADS0303N</p>
        <p>Turno: Noite</p>
        <p>Bonsucesso</p>
      </div>

      <div class="col-3">
        <div class="row justify-content-end">
          <img src="assets/foto-perfil.jpg" class="" alt="Foto de Perfil" />
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-4">
    <div class="row">
      <p class="text-center nome">Nome: Henrique Lima da Silva Pereira</p>
    </div>
  </div>
</div>
